@use 'bootstrap/scss/bootstrap';
@use '@fortawesome/fontawesome-free/css/all.css';

html,
body {
    height: 100%;
    margin: 0;
    background-color: #e7f1ff;
}

.box-navbar-text {
    @extend .text-white;
    @extend .ms-3;
    @extend .me-3;
    @extend .text-decoration-none;
}

.box-navbar-text.active {
    @extend .fw-bolder;
}

.global-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @extend .container;
}

.home-section-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    @extend .global-container;

    h1 {
        text-align: center;
    }
}

.global-section-content-box {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .card {
        min-width: 25rem;
        max-width: 25rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.global-item-card {
    @extend .card;
    @extend .shadow;
}
